/*Осн колір тексту #212121
 
другий колір тексту #757575

білий #FFFFFF

акцент синій #2196F3

фон перший #F5F5F5

фон другий #F5F4FA

*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --default-color: #188ce8;
  --primari-bg-color: #f5f5f5;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;

  background-color: var(--primari-bg-color);
  color: var(--title-text-color);
}

/* logo */

.logo-link {
  
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  
  color: var(--accent-color);  
}

.logo-span {
  color: #000000;
}

.address-footer .logo-span{
  color: #FFFFFF;
}

/* nav */
.site-nav,
.site-nav .link{
  text-decoration: none;
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.top-address .link:hover,
.top-address .link:focus {
  color: var(--accent-color);
}

.headers{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* top-address */

.top-address .link.current {
  color: var(--accent-color);
}

.site-nav,
.top-address {
  cursor: pointer;
  list-style: none;  
}

.top-address .link {
  text-decoration: none;
  
  color: var(--primary-text-color);
}

/* main */

/* hero */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primari-bg-color);
  background-color: var(--default-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

.btn:active {
  background-color: var(--primari-bg-color);
  color: var(--default-color);
}

/* feature */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.feature .list{
  list-style: none;
}

.feature .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* section works */
.section .list{
  list-style: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section-command */
.command .list,
.command .link{
  list-style: none;
  text-decoration: none;
}

.command .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.command .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;  
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.command .profession {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* address */
.address-footer{
  background: #2F303A;
}

.address .item-text,
.address .item{
   list-style: none;
}

.address .item-text .link{
  color: #FFFFFF;
}

.address .link{
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.address .link {
   text-decoration: none;      
}




/* ------Portfolio ------ */




/* filter */
.filter .items{
  list-style: none;
}
.filter .item {
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: #ffffff;
}
.filter .item.current {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filter .item:hover,
.filter .item:focus {
  background-color: var(--accent-color);
  color: var(--primari-bg-color);
}

/* gallery */
.gallery .link,
.gallery .list{
  list-style: none;
  text-decoration: none;
}

.gallery .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.gallery .text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  
  color: var(--primary-text-color);
}
